.resultcard-review-container {
  width: 300px;
  height: 400px;
  margin-top: 20px;
}

@media (min-width: 1200px) {
  .resultcard-review-container {
    width: 1127px;
    height: 536px;
    padding: 25px;
  }
}
