.rota-container {
  display: flex;
  justify-content: space-around;
  padding: 20px;
}

.rota-banner-container {
  display: none;
}

.button-back-rota {
  display: none;
}

.auth-form-container {
  width: 100%;
}

@media (min-width: 576px) {
  .auth-form-container {
    padding: 48px;
  }
}

@media (min-width: 768px) {
  .auth-form-container {
    padding: 40px 144px 304px 144px;
  }
}

@media (min-width: 1200px) {
  .rota-container {
    height: 652px;
  }

  .rota-banner-container {
    display: flex;
    flex-direction: column;
    margin-top: 81px;
    width: 500px;
  }

  .rota-banner-container h1 {
    width: 370px;
    height: 65px;
    font-size: 48px;
    letter-spacing: -0.015em;
    color: #fff;
    margin-left: 97px;
  }

  .rota-banner-container p {
    width: 320px;
    height: 60px;
    font-weight: 400;
    font-size: 22px;
    letter-spacing: -0.015em;
    color: #f2f2f2;
    margin-top: 16px;
    margin-bottom: 51px;
    margin-left: 97px;
  }

  .rota-banner-container svg {
    width: 389px;
    height: 272px;
    margin-left: 67px;
  }
}
