.movies-container {
  padding-left: 0px;
}

.movies-container h4 {
  font-size: 24px;
  color: #fff;
  padding: 15px;
}

.movies-container p {
  font-size: 18px;
  font-weight: 400;
  color: #fff;
  margin-top: 10px;
  margin-left: 15px;
}

@media (min-width: 1200px) {
  .movies-container h4 {
    font-size: 48px;
    margin-left: 25px;
  }

  .movies-container p {
    margin-left: 45px;
  }
}
